.btn {
    width: fit-content;
    padding: 19px 76px;
    outline: none;
    border-style: none;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 22px 21px 0 rgba(0,0,0,0.16);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
    &:active {
        transform: translateY(2px);
    }
}

.primary {
    color: #ffffff;
    background-color: $btn-primary;
}

.success {
    color: #ffffff;
    background-color: $btn-success;
}

.outline {
    color: #000000;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
}
.small-padding {
    padding: 9px 37px;
}